h3,
p {
  margin: 0;
}

.error {
  border: 1px solid red;
}

.container {
  max-width: 960px;
}

.cards {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  list-style-type: none;
}

.card__img {
  width: 100%;
}

.card__text-container {
  padding: 23px 29px 20px 18px;
  background-color: #f8f8f8;
}

.card__title {
  margin-bottom: 13px;
  color: #000;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
}

.card__text {
  margin-bottom: 18px;
  color: #5d5d5d;
  font-size: 14px;
  font-weight: 300;
}

.card__price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 400;
}
